footer{
    width: 100%;
    margin: auto auto;
    background-color: hsl(0,0,46);
    color: #FFF;
    .footer-nav{
        width: 85%;
        margin: auto auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div{
            text-align: center;
            line-height: 20px;
            letter-spacing: 1px;
            padding: 60px 0px 20px 0px;
            p{
                font-size: 24px;
                font-weight: 600;
                padding-bottom: 5px;
            }
            ul {
                margin-bottom: 0px;
                li{
                    padding: 5px;
                    font-size: 12px;
                    transition: 0.7s;
                    &:hover{
                        cursor: pointer;
                        color:lighten(#B70569, 30);
                    }
                }
            }
        }
        div .social-icons{
            padding-top:0px;
            img{
                padding: 7px;
                &:hover{
                    cursor: pointer;
                }
            }
        } 
    }
    .artribution{
        width: 100%;
        margin: auto auto;
        text-align: center;
        background-color: rgb(58,58,58);
        padding: 30px;
        cursor: pointer;
    }
    @include mq(1296px){
        .footer-nav{
            width: 95%;
            margin: auto auto;
        }
    }
    @include mq(1199px){
        .footer-nav{
            width: 85%;
            margin: auto auto;
        }
    }
    @include mq(1100px){
        .footer-nav{
            width: 95%;
            margin: auto auto;
        }
    }
    @include mq(768px){
        .footer-nav{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}