@mixin mq($arg...){
    @if length($arg) == 1{
        @media screen and (max-width: nth($arg, 1)){
            @content;
        }
    }
    @if length($arg) == 2{
        @media screen and (max-width: nth($arg, 1) and (min-width: nth($arg, 2))){
            @content;
        }
    }
}

form{
    width: 85%;
    margin: 120px auto 40px;
    fieldset{
        border: 1px solid #B70569 ;
        border-radius: 5px;
        legend{
            text-align: center;
            color: #000000;
            font-weight: 900;
            font-size: 18px;
            letter-spacing: 5px;
            padding-left: 21px;
            padding-right: 20px;
            font-size: 18px;
        }
        .input-wrapper{
            width: 75%;
            margin: 80px auto 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            input{
                width: 55%;
                height: 30px;
                border-radius: 5px;
                border: 2px solid lighten(hsl(255,6,51), 35);
                padding: 10px 0px 10px 8px;
                font-size: 14px;
                color: hsl(255,6,51)
            }
            .fullname{
                margin-right: 10px;
            }
            .email{
                margin-left: 20px;
                
            }
        }
        .text-area{
            width: 75%;
            margin: 30px auto;
            textarea{
                width: 98%;
                height: 100px;
                padding: 10px 0px 0px 10px;
                font-size: 18px;
                border-radius: 5px;
                color: hsl(255,6,51);
                border: 2px solid lighten(hsl(255,6,51), 35);
            }
        }
        .submit-btn{
            width: 70%;
            margin: 50px auto 30px;
            text-align: center;
            button{
                padding: 13px 70px;
                color: #B70569;
                border: 1px solid #B70569;
                border-radius: 5px;
                font-size: 18px;
                background-color: #FFF;
                font-weight: 500;
                transition: 1s;
                &:hover{
                    cursor: pointer;
                    border: none;
                    outline: none;
                    box-shadow: 0px 5px 5px #B70569;
                } 
            }
        }
        
    }
    
}

@include mq(1296px){
    form{
        width: 95%;
        margin: 120px auto 40px;
    }
}

@include mq(1199px){
    form{
        width: 85%;
        margin: 120px auto 40px;
    }
}

@include mq(1100px){
    form{
        width: 95%;
        margin: 120px auto 40px;
    }
}

@include mq(768px){
    form{
        fieldset{
            .input-wrapper{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                input{
                    width: 98%;
                    margin: auto auto;

                }
                .fullname{
                    margin: 0px;
                }
                .email{
                    margin: 20px 0px;
                }
            }
        }
    }
}