.header-container{
    width: 100%;
    margin: auto auto;
    .header-nav{
        width: 97%;
        margin: auto auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .header-logo{
            margin: 20px 0px;
        }
        .list-items{
            margin: 30px 0px;
            ul li{
                float: left;
                margin: 10px 25px;
                font-weight: 600;
                font-size: 18px;
                color:  #8c8c8c;
                transition: all 0.4s ease-in;
            }
            ul .home{
                border-top: 2px solid #B70569;
                color: #B70569;
                cursor: pointer;
            }
            ul .item:hover{
                border-top: 2px solid #B70569;
                color: #B70569;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
        
    }
    .header-title{
        width: 85%;
        margin: 40px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .title{
            width: 50%;
            color: rgb(183, 5, 105);;
            font-weight: 900;
            padding: 55px 0px 90px 0px;
            h1{
                font-size: 55px;
            }
            p{
                font-size: 25px;
                padding: 20px 0px;
                
            }
            .join-us{
                margin-top: 20px;
                button{
                padding: 10px 30px;
                color: #B70569;
                border: 1px solid #B70569;
                border-radius: 5px;
                font-size: 18px;
                background-color: #FFF;
                font-weight: 500;
                transition: all 1s;
                &:hover{
                    cursor: pointer;
                    border: none;
                    box-shadow: 0px 5px 5px #B70569 ;
                }
            }
        }

        }
        // .illustration{
        //     margin-top: 20px;
        //     margin-bottom: 5px;
        // }
    }
}