@mixin mq($arg...){
    @if length($arg) == 1{
        @media screen and (max-width: nth($arg, 1)){
            @content;
        }
    }
    @if length($arg) == 2{
        @media screen and (max-width: nth($arg, 1) and (min-width: nth($arg, 2))){
            @content;
        }
    }
}

.objectives-wrapper{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 0px 8px lighten(#B70569, 50);
    border-radius: 5px;
    color: hsl(255,6,51);
    .vision,.mission,.value{
        text-align: center;
        margin: 65px;
        h2{
            margin: 10px 0px 20px 0px;
            color:hsl(0,1,49);
            font-weight: 900;
        }
        p{
            line-height: 20px;
        }
    }
    .vision{
        width: 20%;
        margin-left: 80px;
    }
    .mission{
        width: 30%;
        margin-left: 120px;
    }
    .value{
        width: 35%;
        ul li{
            line-height: 20px;
        }
    }
}

@include mq(1296px){
    .objectives-wrapper{
        width: 95%;
        margin: 40px auto;
    }
}
@include mq(1199px){
    .objectives-wrapper{
        width: 85%;
        margin: 40px auto;
    }
}

@include mq(1140px){
    .objectives-wrapper{
        .vision,.mission,.value{
            width: ( 100% / 3);
            margin: 65px 20px;
        }
    }
}

@include mq(1100px){
    .objectives-wrapper{
        width: 95%;
        margin: 40px auto;
    }
}

@include mq(768px){
    .objectives-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .vision,.mission,.value{
            width: 50%
        }
    }
}