@mixin mq($arg...){
    @if length($arg) == 1{
        @media screen and (max-width: nth($arg, 1)){
            @content;
        }
    }
    @if length($arg) == 2{
        @media screen and (max-width: nth($arg, 1) and (min-width: nth($arg, 2))){
            @content;
        }
    }
}

.Testimonials-wrapper{
    width: 85%;
    margin:  auto auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000;
    .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
        position: relative;
        padding: 50px 20px ;
        width: ( 100% / 3);
        text-align: center;
        border-radius: 5px;
        padding: 40px ;
        box-shadow: 0px 0px 10px lighten(#B70569, 55);
        line-height: 25px;
        .name{
            font-weight: 600;
            font-size: 18px;
        }
        img{
            border-radius: 60px;
            position: absolute;
            top: 350px;
            left: 130px;
        }
    }
    .first-testi-wrapper{
        margin-right: 30px;
        .name{
            padding: 5px 0px 40px;
        }
    }
    .second-testi-wrapper{
        .name{
            padding: 30px 0px 40px;
        }
    }
    .third-testi-wrapper{
        margin-left: 30px;
        .name{
            padding: 105px 0px 40px;
        }
    }
    @include mq(1301px){
        .second-testi-wrapper{
            .name{
                padding-top: 0px;
            }
        }
    }
    
}

@include mq(1296px){
    .Testimonials-wrapper{
        width: 95%;
        margin:  auto auto;
        .second-testi-wrapper{
            .name{
                padding-top: 30px;
            }
        }
        @include mq(1235px){
            .third-testi-wrapper{
                .name{
                    padding-top: 110px;
                }
            }
        }
        @include mq(1225px){
            .second-testi-wrapper{
                .name{
                    padding-top: 0px;
                }
            }
        }
        @include mq(1221px){
            .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
                img{
                    top: 350px;
                }
            }
            .second-testi-wrapper{
                .name{
                    padding-top: 30px;
                }
            }
        }
    }
}

@include mq(1199px){
    .Testimonials-wrapper{
        width: 85%;
        margin:  auto auto;
        .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
            img{
                top: 400px;
                left: 120px;
            }
        }
        .third-testi-wrapper{
            .name{
                padding-top: 125px;
            }
           
        }
    }
    @include mq(1140px){
        .Testimonials-wrapper{
            .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
                img{
                    top: 425px;
                    
                }
            }
        }  
    }
}

@include mq(1100px){
    .Testimonials-wrapper{
        width: 95%;
        margin:  auto auto;
        .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
            img{
                top: 400px;
            }
        }
    }
    
}

@include mq(1022px){
    .Testimonials-wrapper{
        .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
            img{
                top: 425px;
                left: 100px;
            }
        }
    }
    
}

@include mq(965px){
    .Testimonials-wrapper{
        .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
            img{
                top: 450px;
                left: 100px;
            }
        }
    }
    
}

@include mq(900px){
    .Testimonials-wrapper{
        .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
            img{
                top: 500px;
            }
        }
    }
    
}

@include mq(800px){
    .Testimonials-wrapper{
        .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
            img{
                top: 600px;
                left: 60px;
            }
        }
    }
    
}

@include mq(768px){
    .Testimonials-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
            width: 88%;
            margin: 40px auto;
            box-shadow: 0px 0px 15px lighten(#B70569, 55);
        }
        .first-testi-wrapper{
            img{
                top: 80%;
                left: 42%;
            }
        }
        .second-testi-wrapper{
            img{
                top: 80%;
                left: 42%;
            }
        }
        .third-testi-wrapper{
            .name{
                padding-top: 20px;
            }
            img{
                    top: 82%;
                    left: 42%;
                }
        }
    }
}

@include mq(560px){
    .Testimonials-wrapper{
        .first-testi-wrapper,.second-testi-wrapper{
            img{
                top: 83%;
            }
        }
    }
    
}

@include mq(375px){
    .Testimonials-wrapper{
        .first-testi-wrapper,.second-testi-wrapper{
            img{
                top: 85%;
                left: 36%;
            }
        }
        
        .third-testi-wrapper{
            img{
                left: 36%;
            }
        }
    }
    
}