.Testimonials-wrapper{
    width: 85%;
    margin:  0px auto 70px ;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000;
    .first-testi-wrapper,.second-testi-wrapper,.third-testi-wrapper{
        position: relative;
        padding: 50px 20px ;
        width: ( 85% / 3);
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 10px lighten(#B70569, 55);
        line-height: 25px;
        .name{
            font-weight: 900;
            font-size: 18px;
        }
        img{
            border-radius: 60px;
            position: absolute;
            top: 335px;
            left: 140px;
        }
    }
    .first-testi-wrapper{
        .name{
            padding: 20px 0px 40px;
        }
    }
    .second-testi-wrapper{
        .name{
            padding: 20px 0px 40px;
        }
    }
    .third-testi-wrapper{
        .name{
            padding: 95px 0px 40px;
        }
    }
}